//===================================================================
//  APP
//===================================================================

.main {
  padding-bottom: 90px;
  color: #4300FF;
}

